* {

margin: 0px;
padding: 0px;
box-sizing: border-box;
font-family: inter;

}

.container {

display: flex;

}

.left-panel {

    height: 100vh;
    width: 20vw;
    background-color: white;
    flex-direction: column;
    justify-content: space-between;
    display: flex;
}

.central-panel {

height: 100vh;
width: 80vw;
background-color: burlywood;
display: flex;
flex-direction: column;
align-items: center;






}

.top {

width: 100%;
min-height: 300px;
background-color: white;
display: flex;
flex-direction: column;
align-items: center;
font-size: 76px;
padding: 18px;



}

.bottom {

width: 100%;
min-height: 300px;
background-color: white;
flex-direction: column;
align-items: center;
display: flex;

}

.novo-botao {

width: 242px;
height: 40px;
background-color: black;
color: white;
margin-top: 20px;
border-radius: 10px;

}

.ponto {

width: 242px;
height: 48px;
display: flex;
flex-direction: column;
font-size: 14px;
margin-top: 20px;
border-radius: 10px;
padding: 10px;


}

.logo {

width: 242px;
height: 48px;
display: flex;
flex-direction: column;
font-size: 14px;
margin-top: 20px;
border-radius: 10px;
padding: 10px;
align-items: center;


}

.titulo {

width: 446px;
height: 101px;
display: flex;
font-size: 68.95px;
margin-top: 260px;
margin-bottom: 16px;

}

.colunas {

    justify-content: center;
    align-items: center;


}